<head>
    <style>
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        footer .footer {
            display: flex;
            justify-content: space-between;
        }
        footer .footer .footer__container {
            display: flex;
            list-style: none;
        }
        footer .footer .footer__container .footer__container__left {
            margin-right: 20px;
        }
        footer .footer .footer__container .footer__container__left .footer__container__left__text {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<footer>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__container__left">
                <div class="footer__container__left__text">
                    <p>© 2021 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>