<!DOCTYPE html>
<html lang="en">
<body>
    <% for( let index = 0; index < employees.length; index++ ) { %>
        <p><%= employees[index].fullName %> <span><%= employees[index].salary %></span> </p>
    <% } %>
</body>
</html>